.exercises-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.exercise-item {
    margin: 1rem;
    padding: 0;
}

@media only screen and (max-width: 1920px) {
    .exercise-item {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .exercise-item {
        width: 100%;
    }
}



.exercise:hover {
    cursor: pointer;
    opacity: 0.6;
}

.exercise {
    text-decoration: none;
    position: relative;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0 10px;
}

.exercise-header {
    background-color: #333;
}

.exercise-header {
    color: tomato;
}

.exercise-img, .your-exercise-img {
    width: 100%;
}

.favorite-icon {
    cursor: pointer;
    color: #ccc;
}

.add-your-exercise {
    cursor: pointer;
    border: none;
    outline: none;
}

.add-your-exercise:hover {
    opacity: 0.6;
}

.modal-add-your-exercise {
    position: fixed;
    top: 30vh;
    left: 10vw;
    width: 80vw;
    background-color: #fff;
    border: 2px solid #333;
    box-shadow: 5px 5px #333;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-your-exercise-btn {
    margin: 20px;
    padding: 10px;
    width: 60%;
    border: none;
    background-color: #333;
    color: tomato;
    cursor: pointer;
    font-weight: 700;
}

#add-your-exercise-img {
    width: 40%;
}

#your-exercise-name-input {
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #ccc;
}